.Role-Filter div {
    background-color: rgb(19, 29, 41);
    border: 1px solid rgb(34, 51, 73);
    height: 50px;
    width: 100px;
    cursor: pointer;
}

.Role-Filter div:hover {
    background-color: rgb(34, 51, 73);
    border: 1px solid rgb(19, 29, 41);
}


.Item-Filter div {
    cursor: pointer;
}

.Item-Filter div img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(26, 40, 57);
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(19, 29, 41);
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(13, 19, 27);
    cursor: grab;
}

::-webkit-scrollbar-thumb:hover:active {
    cursor: grabbing;
}