.Role-Filter div {
    background-color: rgb(19, 29, 41);
    border: 1px solid rgb(34, 51, 73);
    height: 50px;
    width: 100px;
    cursor: pointer;
}

.Role-Filter div:hover {
    background-color: rgb(34, 51, 73);
    border: 1px solid rgb(19, 29, 41);
}